.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  color: #003366;
  justify-content: center;
}

.container ul {
  list-style: none;
  justify-content: center;
}
.container li {
  margin: 10px;
  font-size: 12px;
}
